<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title - Health4Life</title>
        @RenderSection("meta", required: false)
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
        @Styles.Render("~/Content/css")
        <script type="text/javascript">
            var e = document.createElement('link');
            if (window.location.search.toLowerCase() == '?style=readable') {
                e.href = '/Content/themes/readable/bootstrap.css';
            } else if (window.location.search.toLowerCase() == '?style=amelia') {
                e.href = '/Content/themes/amelia/bootstrap.css';
            } else if (window.location.search.toLowerCase() == '?style=united') {
                e.href = '/Content/themes/united/bootstrap.min.css';
            } else {
                e.href = '/Content/themes/cosmo/bootstrap.css';
            }
            e.rel = 'stylesheet';
            document.getElementsByTagName("head")[0].appendChild(e);
        </script>
        @Html.Partial("_html5shiv")
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png">
        <link href="~/Content/ico/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    </head>
    <body>
        @Html.Partial("_NavBar")
 
        @RenderSection("featured", required: false)
 
        <div class="container">
            @RenderBody()
            <hr />
            <div class="footer">
                <p class="pull-left">&copy; Health Solutions.BV</p>
                <p class="pull-right">
                       @Html.ActionLink("Contact", "Contact", "Home")
                </p>
            </div>
        </div>
 
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>